 <section class="features">
        <div class="features-container">
            <article class="feature">
                <h3></h3>
                <img src="" alt="">
                <p>
                </p>
                <a href="#" class="button"></a>
            </article>

            <article class="feature">
                <h3></h3>

                <img src="" alt="">

                <p>
                </p>

                <a href="#" class="button"></a>
            </article>

            <article class="feature">
                <h3></h3>
                <img src="" alt="">

                <p>
                </p>
                <a href="#" class="button"></a>
            </article>

        </div>

    </section>