<main class="container">

        <section class="content">
            <h2></h2>
            <p class="subtitle"></p>

            <img src="" alt="Imagem principal" class="main-image">

            <p class="text">
            </p>
            <p class="text">
            </p>
        </section>

        <aside class="sidebar">

            <h3></h3>
            <div class="post">
                <img src="" alt="Imagem do primeiro item">
                <div>
                    <small></small>
                    <p>
                    </p>
                </div>
            </div>
            <div class="post">
                <img src="" alt="">
                <div>
                    <small></small>
                    <p>
                    </p>
                </div>
            </div>
            <div class="post">
                <img src="" alt="Imagem do terceiro item">
                <div>
                    <small></small>
                    <p>
                    </p>
                </div>
            </div>
        </aside>

    </main>